<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dtcs">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问内存卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dtcs_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_SignActivity" />
        <activity android:name=".Tab01CheckCanlender" />
        <activity android:name=".Tab02GridViewInfo0" />
        <activity android:name=".Tab02GridViewInfo1" />
        <activity android:name=".Tab02GridViewInfo2" />
        <activity android:name=".Tab02Equipment" />
        <activity android:name=".Tab02EquipmentInfor" />
        <activity android:name=".Tab02DownloadFile" />
        <activity android:name=".Tab02SafeEquip" />
        <activity android:name=".Tab02DownloadFlieView" />
        <activity android:name=".Tab02SafeEquipView1" />
        <activity android:name=".Tab02SafeUpdata" />
        <activity android:name=".Tab02Compet" />
        <activity android:name=".Tab02Lessons" />
        <activity android:name=".Tab02Setting" />
        <activity android:name=".Tab03PeoPleInformation" />
        <activity android:name=".Activity_Login" />
        <activity android:name=".Tab03DTCSWebView" />

        <activity android:name=".RingActivity"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.g150825_android28.RING" />
            </intent-filter>
        </receiver>

    </application>

</manifest>